<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase Confirmation</title>
</head>
<body>
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
        <tr>
            <td align="center" bgcolor="#1919ff" style="padding: 40px 0;">
                <h1 style="font-size: 24px; color: #ffffff;">Your Saphire Sync order is confirmed!</h1>
            </td>
        </tr>
        <tr>
            <td bgcolor="#f4f4f4" style="padding: 40px;">
                <p style="font-size: 16px; color: #333; line-height: 1.6;">Hello , <%= user.name %></p>
                <p style="font-size: 16px; color: #333; line-height: 1.6;">Thank you for your purchase. You have successfully completed your order for:</p>
                <ul style="font-size: 16px; color: #333; line-height: 1.6; margin-left: 20px;">
                    <li style="font-weight: bold;"><%= order.name %>: $<%= order.price %></li>
                    <!-- Repeat this list item for each item in the order -->
                </ul>
                <p style="font-size: 16px; color: #333; line-height: 1.6;">Total Amount: $<%= order.price %> </p>
                <p style="font-size: 16px; color: #333; line-height: 1.6;">Order ID: # <%= order._id %> </p>
                <p style="font-size: 16px; color: #333; line-height: 1.6;">Date: <%= order.date %> </p>
                <p style="font-size: 16px; color: #333; line-height: 1.6;">If you have any questions or need further assistance, please contact our support team at monkmonkey56@gmail.com.</p>
                <p style="font-size: 16px; color: #333; line-height: 1.6;">Thank you for choosing Saphire Sync!</p>
            </td>
        </tr>
        <tr>
            <td bgcolor="#1919ff" align="center" style="padding: 20px 0;">
                <p style="font-size: 16px; color: #ffffff; margin: 0;">&copy; 2023 Saphire Sync. All rights reserved.</p>
            </td>
        </tr>
    </table>
</body>
</html>